body {
    font-family: 'Century Gothic', sans-serif;
    width: 36.5em;
    margin: 4em;
}

h1 {
    font-size: 3em;
}

h1, h2, h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    color: #70798c;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

h3 {
    margin-top: 0.5em;
}

p {
    margin-top: -1.2em;
}

ul {
    margin-top: -0.5em;
}

.style {
    font-size: smaller;
    font-style: italic;
    font-size: 0.93em;
}
